.modal {
    position: absolute;
    z-index: 10;
    background-color: white;
    width: 80%;
    border: 1px solid #edeff1;
    box-shadow: 1px 1px 1px black;
    border-radius: 20px;
    left: 10%;
    top: 5%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 30px;
    margin-bottom: 50px;
    color: black;
}

.modalInfo {
    display: flex;
    font-size: 1.3rem;
    border-bottom: 1px solid black;
}

.modalInfo ul {
    margin: 0;
}

.modalInfo li {
    list-style-type:none;
}

.playlistName {
    width: 50%;
    margin-right: 100%;
    margin: 20px 0px 20px 0px;
}

#playlistNameInput {
    margin-bottom: 10px;
    border: 0px;
    border-radius: 0px;
    width: 80%;
    font-size: 1.7rem;
    font-weight: bold;
    outline: none;
    text-align: center;
    background: url(/Edit.png) no-repeat right center;
}

#playlistSelectionContainer {
    display: flex;
    width: 30%;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
}

.playlistSelector {
    font-size: 2.1rem;
    border: 1px solid red;
    background-color: red;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    margin: 5px;
}

.targetPlaylistSelector {
    color: white;
    border: 2px solid black;
}

.playlistSelector:active {
    transform: scale(.9);
}

#playlistNameUnderline {
    height: 1px;
    background-color: black;
    width: 100%;
    animation-name: underline;
    animation-duration: 1s;
    animation-timing-function: ease;
    position: absolute;
}

@keyframes underline {
    from {width: 0%;}
    to {width: 100%;}
  }

.playlistName input:focus {
    box-shadow: 3px 5px 12px #888888;
    border-radius: 15px;
}

.playlistSettings img {
    width: 100%;
}

.shuffle {
    margin: 20px;
}

.shuffle:active { 
    transform: scale(.9);
}

.shuffle img {
    cursor: pointer;
}

.play {
    margin: 20px;
}

.play:active { 
    transform: scale(.9);
}

.play img {
    cursor: pointer;
}

.loop button{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100px;
    cursor: pointer;
    outline: none;
    border-width: 0px;
}

.loop:active { 
    transform: scale(.9);
}

.loop img {
    width: 30%;
}

.loop p {
    font-size: 1rem;
    margin-right: 10px;
}

.playlistDescription {
    width: 100%;
}

#playlistDescriptionInput {
    margin: 0px 5%;
    font-size: 1.3rem;
    height: 60%;
    width: 80%;
    border: 1px solid black;
    resize: none;
}

.playlistContainer {
    width: 99%;
    max-height: 65vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.listVideo {
    border-radius: 15px;
    width: 29%;
    display: inline-block;
    margin: 10px 1.5%;
    border: 2px solid #dfe1e7;
    text-align: center;
    min-height: 230px;
    box-shadow: 0 10px 15px -3px rgba(53, 47, 63, 0.3), 0 4px 6px -2px rgba(38, 28, 54, 0.3);
}

.listTitle {
    min-height: 3vw;
    font-size: 1rem;
    background-color: #edeff1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0px 0px;
}

.listInfo {
    display: flex;
    justify-content: space-evenly;
}

.thumbnail {
    width: 50%;
    height: 120px;
    background-color: white;
    margin: 5%;
}

.listSettings {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.listSettings a {
    color: red;
    text-decoration: none;
}

.listSettings button {
    margin-top: 20%;
    border: none;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.listSettings input {
    width: 60px;
    text-align: center;
}

.listTextInput {
    margin: 20px 0px;   
    font-size: 2rem;
    height: 65px;
    width: 90%;
    resize: none;
    border: 1px solid black;
}

#deleteButton {
    height: 70px;
    border: none;
    position: relative;
    right: 5%;
    background-color: red;
    font-size: 1.1rem;
    cursor: pointer;
}

#confirmationWindow {
    position: absolute;
    width: 30%;
    height: 200px;
    background-color: white;
    border: 5px solid #999;
    top: 30%;
    left: 35%;
    text-align: center;
    z-index: 10;
}

#confirmationWindow p {
    margin: 10px;
    margin-bottom: 15%;
    font-size: 1.1rem;
}

#confirmationWindow button {
    margin: 15px;
    height: 20%;
    border: 1px solid grey;
    background-color: #dfe1e7;
    border-radius: 5px;
    cursor: pointer;
}

#confirmationWindowBackground {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 101%;
    width: 101%;
    top: -1px;
    left: -1px;
    z-index: 9;
}

@media only screen and (max-width: 1000px) {
    .modal {
        width: 100%;
        left: 0%;
    }

    #playlistNameInput {
        width: 100%;
    }

    .listVideo {
        display: inline;
        border: none;
    }

    .thumbnail {
        width: auto;
        height: 120px;
        background-color: white;
        margin: 5%;
    }

    .playlistSettings img {
        width: 30px;
    }
}