.modal {
    position: absolute;
    z-index: 10;
    background-color: white;
    width: 80%;
    border: 1px solid #edeff1;
    box-shadow: 1px 1px 1px black;
    border-radius: 20px;
    left: 10%;
    top: 5%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 30px;
    margin-bottom: 50px;
}

.modalTitle {
    height: 4rem;
    background-color: #edeff1;
    border-radius: 20px 20px 0 0;
    border-bottom: 1px solid #0069d0;
}

.modalTitle p {
    margin: 0;
    padding: 1.5rem;
    font-size: 1.6rem;
}

.modalInfo {
    display: flex;
    font-size: 1.3rem;
}

.modalInfo ul {
    width: 28%;
}

.modalInfo li {
    list-style-type:none;
}

.playlistName {
    width: 50%;
}

#playlistNameInput {
    margin: 3% 0px 32px 32px;
    width: 80%;
    height: 50%;
    border: none;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
}

#playlistNameUnderline {
    margin-left: 15px;
    height: 1px;
    background-color: black;
    width: 80%;
    animation-name: underline;
    animation-duration: 1s;
    animation-timing-function: ease;
}

@keyframes underline {
    from {width: 0%;}
    to {width: 80%;}
  }

.playlistName input:focus {
    box-shadow: 3px 5px 12px #888888;
    border-radius: 15px;
}

.shuffle {
    margin: 20px;
    width: 15%;
}

.shuffle p {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 70%;
    background-color: #73e5cf;
    border-radius: 20px;
}

.play {
    margin: 20px;
    width: 15%;
}

.play p {
    margin: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 120px;
}

.playlistDescription p {
    margin: 0;
    position: relative;
    top: 20px;
    left: 5%;
}

#playlistDescriptionInput {
    margin: 30px 5% 0px 5%;
    font-size: 2rem;
    height: 65px;
    width: 90%;
    max-width: 90%;
    min-width: 90%;
    border: 1px solid black;
}

.listVideo {
    border-radius: 15px;
    width: 29%;
    display: inline-block;
    margin: 10px 1.5%;
    border: 2px solid #dfe1e7;
    text-align: center;
}

#active {
}

.listTitle {
    height: 3vw;
    text-align: center;
    font-size: 1vw;
    background-color: #edeff1;
}

.listInfo {
    display: flex;
    justify-content: space-evenly;
}

.placeHolder {
    width: 180px;
    height: 120px;
    background-color: blue;
    margin: 5%;
}

.listSettings p {
    margin: 10px;
    text-align: left;

}

.listTextInput {
    margin: 20px 0px;   
    font-size: 2rem;
    height: 65px;
    width: 90%;
    resize: none;
    border: 1px solid black;
}