.modalBackdrop {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    animation-name: modalAnimation;
    animation-duration: .8s;
    animation-direction: normal;
}

@keyframes modalAnimation {
    from {background-color: rgba(0, 0, 0, 0)}
    to {background-color: rgba(0, 0, 0, 0.5)}
  }

