.leftBar {
    margin: 0;
    padding: 0;
    background-color: #2f2e2f;
    display: flex;
    -webkit-flex-direction: column; 
    flex-direction: column;
    position: absolute;
    top: 20%;
    border-radius: 0px 20px 20px 0px;
}

.disabled {
    opacity: .5;
    cursor: default !important;
    border-width: 0px;
    box-shadow: 0px 0px 0px 0px !important;
    transform: scale(0.95);
    font-size: .9rem
}

.leftBar button, .leftBar a {
    height: 80px;
    cursor: pointer;
    width: 80px;
    margin: 20px;
    background-color: #666666;
    border-radius: 20px;
    color: white;
    box-shadow: 0px 5px 0px 2px #222222;
    outline:none;
    font-size: 1rem;
}

.leftBar a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    text-decoration: none;
}

.leftBar button:active, .leftBar a:active {
    transform: scale(0.95);
    box-shadow: 0px 0px 0px 0px !important;
    outline:none;
    font-size: .9rem
}