.bottomBar {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    bottom: 20px;
    height: 5rem;
    left: 15%;
    background-color: white;
    font-size: 1.3rem;
}

.bottomBar button {
    color: blue;
    height: 50px;
    border-radius: 20px;
    position: absolute;
    bottom: -.3rem;
    width: 10%;
}

#previous {
    left: 0;
}

#title {
    width: 80%;
    line-height: 2rem;
    color: black;
}

#next {
    right: 0;
}