.bottomBar {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    bottom: 0;
    height: 5rem;
    left: 20%;
    background-color: #2f2e2f;
    font-size: 1.3rem;
    border-radius: 20px 20px 0 0;
}

.bottomBar img {
    height: 50px;
    cursor: pointer;
}

.previous {
    left: 0;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#title {
    width: 80%;
    line-height: 2rem;
    color: white;
}

.next {
    right: 0;
}