.rightBar {
    border: 2px dotted black;
    margin: 20px;
    padding: 0;
    width: auto;
    max-width: 200px;
    text-align: left;
    position: absolute;
    right: 0;
    color: green;
}

.rightBar img {
    width: 180px;
}

.rightBar li {
    list-style-type: none;
} 