html, body {
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
  color: white;
  overflow: hidden;
}

body {
  font-family: Verdana,sans-serif;
  /* background-color: #141920; */
}

.background {
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient( black, #141920);
  position: absolute;
  z-index: -999;
}

.video {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 2%;
}