html, body {
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
}

body {
  font-family: Verdana,sans-serif;
}

/* * {
  border: 1px solid black;
} */

.searchBar input {
  margin: 30px;
}

button {
  margin: 20px;
}
.searchBar {
  text-align: center;
}

.video {
  text-align: center;
}

.leftBar {
  display: flex;
  -webkit-flex-direction: column; 
  flex-direction: column;
  position: absolute;
  text-align: right;
  top: 40%;
}