html, body {
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
  color: white;
}

body {
  font-family: Verdana,sans-serif;
  /* background-color: #141920; */
}

.background {
  width: 100%;
  height: 100%;
  background-image: radial-gradient( black, #141920);
  position: absolute;
  z-index: -999;
}

.searchBar input {
  margin: 30px;
}

button {
  margin: 20px;
}
.searchBar {
  text-align: center;
}

.video {
  text-align: center;
}